Repository mehmetnyarar/randb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, git add ., jest --findRelatedTests

.lintstagedrc:

{
  './*.{js,ts,json,html,css,md}': ['prettier --write'],
  './*.{js,ts}': ['eslint --fix', 'git add .', 'jest --findRelatedTests']
}

fix: apply various fixes, add ru translations
  packages/app-web/public/static/locales/ru/common.json
  packages/app-web/src/components/input/upload.tsx
  packages/app-web/src/components/layout/styles.tsx
  packages/app-web/src/pages/network/import.tsx
  packages/server/src/db/query/builder.ts
  packages/shared-logic/src/modules/i18n/const.ts
  scripts/.gitignore
  scripts/po-to-json.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests

refactor(logic): remove unnecessary env config
  packages/shared-logic/.gitignore
  packages/shared-logic/jest.config.js
  packages/shared-logic/src/__tests__/config/env.spec.ts
  packages/shared-logic/src/__tests__/config/env/utility.spec.ts
  packages/shared-logic/src/__tests__/graphql/utility.spec.ts
  packages/shared-logic/src/__tests__/hooks/use-password.spec.ts
  packages/shared-logic/src/config/env.ts
  packages/shared-logic/src/config/env/const.ts
  packages/shared-logic/src/config/env/env.config.ts
  packages/shared-logic/src/config/env/index.ts
  packages/shared-logic/src/config/env/types.ts
  packages/shared-logic/src/config/env/utility.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests

test(web): fix test utils
  packages/app-web/src/__tests__/components/layout.spec
  packages/app-web/src/__tests__/components/snackbar/snackbar.spec.tsx
  packages/app-web/src/__tests__/pages/index.spec.tsx
  packages/app-web/test/render.tsx
Due: none

docs: update readme
  README.md
  packages/app-web/README.md
  packages/shared-logic/README.md
Due: prettier --write

test(web): remove test/render
  packages/app-web/test/index.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests

fix(server): fix typegoose and mongoose errors
  packages/server/src/db/query/builder.ts
  packages/server/src/models/entity/bsc/type.ts
  packages/server/src/models/entity/cell/type.ts
  packages/server/src/models/entity/lac/type.ts
  packages/server/src/models/entity/log/type.ts
  packages/server/src/models/entity/options.ts
  packages/server/src/models/entity/rnc/type.ts
  packages/server/src/models/entity/site/type.ts
  packages/server/src/models/entity/tac/type.ts
  packages/server/src/models/entity/user/type.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests

fix(server): fix typegoose and mongoose errors
  packages/server/src/db/query/builder.ts
  packages/server/src/models/entity/ne/type.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests

perf: update list keys to ids
  packages/app-mobile/src/__tests__/components/snackbar/snackbar.spec.tsx
  packages/app-mobile/src/components/theme.tsx
  packages/app-mobile/src/screens/auth/signin.tsx
  packages/app-mobile/test/render.tsx
  packages/app-web/src/components/info/list/index.tsx
  packages/app-web/src/components/info/list/item.tsx
  packages/app-web/src/components/info/table/index.tsx
  packages/app-web/src/components/info/table/item.tsx
  packages/app-web/src/components/info/types.ts
  packages/app-web/src/components/layout/footer.tsx
  packages/app-web/src/components/layout/sidebar.tsx
  packages/app-web/src/components/network/details/cell.tsx
  packages/app-web/src/components/network/details/cells.tsx
  packages/app-web/src/components/network/details/site.tsx
  packages/app-web/src/components/network/report/import.tsx
  packages/app-web/src/components/network/report/log.tsx
  packages/app-web/src/components/network/report/logs.tsx
  packages/app-web/src/components/network/topology/element.tsx
  packages/app-web/src/components/network/topology/topology.tsx
  packages/app-web/src/components/user/card.tsx
  packages/app-web/src/pages/dashboard.tsx
  packages/app-web/src/pages/network/import.tsx
  packages/app-web/src/pages/signin.tsx
  packages/app-web/src/pages/users/[username].tsx
  packages/app-web/src/pages/users/index.tsx
  packages/app-web/src/types/index.ts
  packages/shared-logic/src/error/utility.ts
  packages/shared-logic/src/models/entity/user/utility.ts
  packages/shared-logic/src/modules/network/context/use.ts
Due: prettier --write, eslint --fix, git add ., jest --findRelatedTests
